[submodule ".reference/json-joy"]
	path = .reference/json-joy
	url = https://github.com/streamich/json-joy
[submodule ".agents/skills"]
	path = .agents/skills
	url = https://github.com/agentable/golang-skills.git
